Source/Client/DWOS.UI/Service References/DS2LicenseActivation/ActivationService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DS2.AppManagement.DataInfo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DS2.AppManagement.DataInfo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ActivationInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorInformation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ActivationInfo" nillable="true" type="tns:ActivationInfo" />
  <xs:complexType name="LicenseInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activations" type="xs:int" />
      <xs:element minOccurs="0" name="CompanyKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorInformation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LicenseExpiration" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LicenseInfo" nillable="true" type="tns:LicenseInfo" />
  <xs:complexType name="VersionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorInformation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReleaseDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VersionInfo" nillable="true" type="tns:VersionInfo" />
</xs:schema>