Source/Server/DWOS.Server.Admin/Service References/Licensing/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LicenseService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ILicenseService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/DWOS.LicenseManager" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILicenseService_Activate_InputMessage">
    <wsdl:part name="parameters" element="tns:Activate" />
  </wsdl:message>
  <wsdl:message name="ILicenseService_Activate_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActivateResponse" />
  </wsdl:message>
  <wsdl:message name="ILicenseService_DeActivate_InputMessage">
    <wsdl:part name="parameters" element="tns:DeActivate" />
  </wsdl:message>
  <wsdl:message name="ILicenseService_DeActivate_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeActivateResponse" />
  </wsdl:message>
  <wsdl:message name="ILicenseService_KeepAlive_InputMessage">
    <wsdl:part name="parameters" element="tns:KeepAlive" />
  </wsdl:message>
  <wsdl:message name="ILicenseService_KeepAlive_OutputMessage">
    <wsdl:part name="parameters" element="tns:KeepAliveResponse" />
  </wsdl:message>
  <wsdl:message name="ILicenseService_GetLicenseStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLicenseStatus" />
  </wsdl:message>
  <wsdl:message name="ILicenseService_GetLicenseStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLicenseStatusResponse" />
  </wsdl:message>
  <wsdl:message name="ILicenseService_GetDBConnectionInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDBConnectionInfo" />
  </wsdl:message>
  <wsdl:message name="ILicenseService_GetDBConnectionInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDBConnectionInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="ILicenseService">
    <wsdl:operation name="Activate">
      <wsdl:input wsaw:Action="http://tempuri.org/ILicenseService/Activate" message="tns:ILicenseService_Activate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILicenseService/ActivateResponse" message="tns:ILicenseService_Activate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeActivate">
      <wsdl:input wsaw:Action="http://tempuri.org/ILicenseService/DeActivate" message="tns:ILicenseService_DeActivate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILicenseService/DeActivateResponse" message="tns:ILicenseService_DeActivate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KeepAlive">
      <wsdl:input wsaw:Action="http://tempuri.org/ILicenseService/KeepAlive" message="tns:ILicenseService_KeepAlive_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILicenseService/KeepAliveResponse" message="tns:ILicenseService_KeepAlive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLicenseStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/ILicenseService/GetLicenseStatus" message="tns:ILicenseService_GetLicenseStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILicenseService/GetLicenseStatusResponse" message="tns:ILicenseService_GetLicenseStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDBConnectionInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/ILicenseService/GetDBConnectionInfo" message="tns:ILicenseService_GetDBConnectionInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILicenseService/GetDBConnectionInfoResponse" message="tns:ILicenseService_GetDBConnectionInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ILicenseService" type="tns:ILicenseService">
    <wsp:PolicyReference URI="#NetTcpBinding_ILicenseService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Activate">
      <soap12:operation soapAction="http://tempuri.org/ILicenseService/Activate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeActivate">
      <soap12:operation soapAction="http://tempuri.org/ILicenseService/DeActivate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KeepAlive">
      <soap12:operation soapAction="http://tempuri.org/ILicenseService/KeepAlive" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLicenseStatus">
      <soap12:operation soapAction="http://tempuri.org/ILicenseService/GetLicenseStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDBConnectionInfo">
      <soap12:operation soapAction="http://tempuri.org/ILicenseService/GetDBConnectionInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LicenseService">
    <wsdl:port name="NetTcpBinding_ILicenseService" binding="tns:NetTcpBinding_ILicenseService">
      <soap12:address location="net.tcp://localhost:8523/LicenseService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8523/LicenseService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>rich.pruitt@geotoday.net</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>