Source/Client/DWOS.UI/Service References/Licensing/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LicenseService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ILicenseService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/DWOS.LicenseManager" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/DWOS.Server.Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILicenseService_CheckOutLicense_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckOutLicense" />
  </wsdl:message>
  <wsdl:message name="ILicenseService_CheckOutLicense_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckOutLicenseResponse" />
  </wsdl:message>
  <wsdl:message name="ILicenseService_CheckInLicense_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckInLicense" />
  </wsdl:message>
  <wsdl:message name="ILicenseService_CheckInLicense_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckInLicenseResponse" />
  </wsdl:message>
  <wsdl:message name="ILicenseService_KeepLicenseAlive_InputMessage">
    <wsdl:part name="parameters" element="tns:KeepLicenseAlive" />
  </wsdl:message>
  <wsdl:message name="ILicenseService_KeepLicenseAlive_OutputMessage">
    <wsdl:part name="parameters" element="tns:KeepLicenseAliveResponse" />
  </wsdl:message>
  <wsdl:message name="ILicenseService_GetLicenseSummary_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLicenseSummary" />
  </wsdl:message>
  <wsdl:message name="ILicenseService_GetLicenseSummary_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLicenseSummaryResponse" />
  </wsdl:message>
  <wsdl:message name="ILicenseService_GetApplicationInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicationInfo" />
  </wsdl:message>
  <wsdl:message name="ILicenseService_GetApplicationInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicationInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ILicenseService_ValidateLicenseActivation_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateLicenseActivation" />
  </wsdl:message>
  <wsdl:message name="ILicenseService_ValidateLicenseActivation_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateLicenseActivationResponse" />
  </wsdl:message>
  <wsdl:message name="ILicenseService_ReloadCompanyInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:ReloadCompanyInfo" />
  </wsdl:message>
  <wsdl:message name="ILicenseService_ReloadCompanyInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReloadCompanyInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="ILicenseService">
    <wsdl:operation name="CheckOutLicense">
      <wsdl:input wsaw:Action="http://tempuri.org/ILicenseService/CheckOutLicense" message="tns:ILicenseService_CheckOutLicense_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILicenseService/CheckOutLicenseResponse" message="tns:ILicenseService_CheckOutLicense_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckInLicense">
      <wsdl:input wsaw:Action="http://tempuri.org/ILicenseService/CheckInLicense" message="tns:ILicenseService_CheckInLicense_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILicenseService/CheckInLicenseResponse" message="tns:ILicenseService_CheckInLicense_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KeepLicenseAlive">
      <wsdl:input wsaw:Action="http://tempuri.org/ILicenseService/KeepLicenseAlive" message="tns:ILicenseService_KeepLicenseAlive_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILicenseService/KeepLicenseAliveResponse" message="tns:ILicenseService_KeepLicenseAlive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLicenseSummary">
      <wsdl:input wsaw:Action="http://tempuri.org/ILicenseService/GetLicenseSummary" message="tns:ILicenseService_GetLicenseSummary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILicenseService/GetLicenseSummaryResponse" message="tns:ILicenseService_GetLicenseSummary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetApplicationInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/ILicenseService/GetApplicationInfo" message="tns:ILicenseService_GetApplicationInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILicenseService/GetApplicationInfoResponse" message="tns:ILicenseService_GetApplicationInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateLicenseActivation">
      <wsdl:input wsaw:Action="http://tempuri.org/ILicenseService/ValidateLicenseActivation" message="tns:ILicenseService_ValidateLicenseActivation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILicenseService/ValidateLicenseActivationResponse" message="tns:ILicenseService_ValidateLicenseActivation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReloadCompanyInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/ILicenseService/ReloadCompanyInfo" message="tns:ILicenseService_ReloadCompanyInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILicenseService/ReloadCompanyInfoResponse" message="tns:ILicenseService_ReloadCompanyInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ILicenseService" type="tns:ILicenseService">
    <wsp:PolicyReference URI="#NetTcpBinding_ILicenseService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="CheckOutLicense">
      <soap12:operation soapAction="http://tempuri.org/ILicenseService/CheckOutLicense" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckInLicense">
      <soap12:operation soapAction="http://tempuri.org/ILicenseService/CheckInLicense" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KeepLicenseAlive">
      <soap12:operation soapAction="http://tempuri.org/ILicenseService/KeepLicenseAlive" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLicenseSummary">
      <soap12:operation soapAction="http://tempuri.org/ILicenseService/GetLicenseSummary" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplicationInfo">
      <soap12:operation soapAction="http://tempuri.org/ILicenseService/GetApplicationInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateLicenseActivation">
      <soap12:operation soapAction="http://tempuri.org/ILicenseService/ValidateLicenseActivation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReloadCompanyInfo">
      <soap12:operation soapAction="http://tempuri.org/ILicenseService/ReloadCompanyInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LicenseService">
    <wsdl:port name="NetTcpBinding_ILicenseService" binding="tns:NetTcpBinding_ILicenseService">
      <soap12:address location="net.tcp://ds2-scout:8080/LicenseService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://ds2-scout:8080/LicenseService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>