Source/Server/DWOS.Server.Admin/Service References/LicenseActivation/ActivationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ActivationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IActivationService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/DS2.AppManagement/ActivationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/DS2.AppManagement/ActivationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/DS2.AppManagement/ActivationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DS2.AppManagement.DataInfo" />
      <xsd:import schemaLocation="http://localhost/DS2.AppManagement/ActivationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DS2.AppManagement" />
      <xsd:import schemaLocation="http://localhost/DS2.AppManagement/ActivationService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/DS2.AppManagement.Datasets" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IActivationService_Activate_InputMessage">
    <wsdl:part name="parameters" element="tns:Activate" />
  </wsdl:message>
  <wsdl:message name="IActivationService_Activate_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActivateResponse" />
  </wsdl:message>
  <wsdl:message name="IActivationService_GetLicenseInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLicenseInfo" />
  </wsdl:message>
  <wsdl:message name="IActivationService_GetLicenseInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLicenseInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IActivationService_GetLatestVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestVersion" />
  </wsdl:message>
  <wsdl:message name="IActivationService_GetLatestVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestVersionResponse" />
  </wsdl:message>
  <wsdl:message name="IActivationService_GetSites_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSites" />
  </wsdl:message>
  <wsdl:message name="IActivationService_GetSites_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSitesResponse" />
  </wsdl:message>
  <wsdl:portType name="IActivationService">
    <wsdl:operation name="Activate">
      <wsdl:input wsaw:Action="http://tempuri.org/IActivationService/Activate" message="tns:IActivationService_Activate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IActivationService/ActivateResponse" message="tns:IActivationService_Activate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLicenseInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IActivationService/GetLicenseInfo" message="tns:IActivationService_GetLicenseInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IActivationService/GetLicenseInfoResponse" message="tns:IActivationService_GetLicenseInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestVersion">
      <wsdl:input wsaw:Action="http://tempuri.org/IActivationService/GetLatestVersion" message="tns:IActivationService_GetLatestVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IActivationService/GetLatestVersionResponse" message="tns:IActivationService_GetLatestVersion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSites">
      <wsdl:input wsaw:Action="http://tempuri.org/IActivationService/GetSites" message="tns:IActivationService_GetSites_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IActivationService/GetSitesResponse" message="tns:IActivationService_GetSites_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IActivationService" type="tns:IActivationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Activate">
      <soap:operation soapAction="http://tempuri.org/IActivationService/Activate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLicenseInfo">
      <soap:operation soapAction="http://tempuri.org/IActivationService/GetLicenseInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestVersion">
      <soap:operation soapAction="http://tempuri.org/IActivationService/GetLatestVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSites">
      <soap:operation soapAction="http://tempuri.org/IActivationService/GetSites" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IActivationService" type="tns:IActivationService">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IActivationService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Activate">
      <soap:operation soapAction="http://tempuri.org/IActivationService/Activate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLicenseInfo">
      <soap:operation soapAction="http://tempuri.org/IActivationService/GetLicenseInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestVersion">
      <soap:operation soapAction="http://tempuri.org/IActivationService/GetLatestVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSites">
      <soap:operation soapAction="http://tempuri.org/IActivationService/GetSites" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ActivationService">
    <wsdl:port name="BasicHttpBinding_IActivationService" binding="tns:BasicHttpBinding_IActivationService">
      <soap:address location="http://localhost/DS2.AppManagement/ActivationService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IActivationService" binding="tns:BasicHttpsBinding_IActivationService">
      <soap:address location="https://ds2-scout.geotoday.net/DS2.AppManagement/ActivationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>