Source/Utilities/DWOS.AutomatedWorkOrderTool/Connected Services/Licensing/DWOS.Server.Services.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DWOS.Server.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DWOS.Server.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ApplicationInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="DatabaseConnection" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MinimumClientVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServerVersion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApplicationInfo" nillable="true" type="tns:ApplicationInfo" />
</xs:schema>